<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{drink.drink_name}}</h5>
    <p class="card-text">List </p>
    <a href="/" class="btn btn-primary">Return Home</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <img src="{{drink.image}}"/>
    <h5 class="card-title">{{drink.drink_name}}</h5>
    <p class="card-text">{{drink.instruction}}</p>
  </div>
  <ul class="list-group list-group-flush">
    {{#each drink.ingredient}}
    <li class="list-group-item">{{drink.ingredient}}</li>
    {{/each}}
  </ul>
  <div class="card-body">
    <a href="/" class="card-link">Return Home</a>
    <button class="favorite-drinks card-link">Save to Favorites</button> 
  </div>
</div>